@using Microsoft.AspNetCore.Mvc.ModelBinding;
@model Referral
@{
    ViewData["Title"] = "Breeder Referral";
}
@{
    string inputState(string fieldName) {
        if(ViewData.ModelState.ErrorCount < 1) {
            return "";
        }
        return (ViewData.ModelState.GetFieldValidationState(fieldName) == ModelValidationState.Valid)
            ? "is-valid" : "is-invalid";
    }
}
<h1>Breeder Referral Request</h1>
<p>One of our goals is to help Westie lovers find the perfect Westie for their family- be it an adult rescue or a new puppy. It is also important to all the breeders that belong to our club to find the best families for the puppies they raise.</p>
<p>We are happy to help accomplish these goals by making available a breeder referral contact who can direct you to the breeders or rescue people who are members of our club. We CANNOT however, make any guarantees or representations pertaining to any Westie that they choose to adopt from any of the parties our representative may refer you to.</p>
<p>If you are looking for a rescue, please visit our <a asp-controller="Rescue" asp-action="Info">rescue page</a>.</p>
<form id="referral-form" asp-action="Referral" asp-controller="Home" method="post">
    <div>
        <section>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName"></span>
                <input asp-for="FirstName" class="form-control @inputState("FirstName")">
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName"></span>
                <input asp-for="LastName" class="form-control @inputState("LastName")">
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <span asp-validation-for="City"></span>
                <input asp-for="City" class="form-control @inputState("City")">
            </div>
            <div class="form-group">
                <label asp-for="State"></label>
                <span asp-validation-for="State"></span>
                <input asp-for="State" class="form-control @inputState("State")" >
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email"></span>
                <input asp-for="Email" class="form-control @inputState("Email")">
            </div>
            <div class="form-group">
                <label asp-for="EmailConfirm"></label>
                <span asp-validation-for="EmailConfirm"></span>
                <input asp-for="EmailConfirm" class="form-control @inputState("EmailConfirm")">
            </div>
        </section>
        <section>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <span asp-validation-for="Gender"></span>
                @foreach(var gender in Enum.GetValues(typeof(Referral.Genders)))
                {
                    string id = gender + "-" + typeof(Referral.Genders).ToString();
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="@gender" id="@id">
                        <label class="form-check-label" asp-for="Gender" for="@id">@gender</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="DesiredAge"></label>
                <span asp-validation-for="DesiredAge"></span>
                @foreach(var ageChoice in Enum.GetValues(typeof(Referral.Ages)))
                {
                    string id = ageChoice + "-" + typeof(Referral.Ages).ToString();
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="DesiredAge" value="@ageChoice" id="@id">
                        <label class="form-check-label" asp-for="DesiredAge" for="@id">@ageChoice</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Timing"></label>
                <span asp-validation-for="Timing"></span>
                <textarea asp-for="Timing" class="form-control @inputState("Timing")" placeholder="In what time frame do you hope to fetch your Westie?"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Characteristics"></label>
                <span asp-validation-for="Characteristics"></span>
                <textarea asp-for="Characteristics" class="form-control @inputState("Characteristics")" placeholder="What characteristics are you looking for in your Westie?"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Comments"></label>
                <span asp-validation-for="Comments"></span>
                <textarea asp-for="Comments" class="form-control @inputState("Comments")" placeholder="Comments"></textarea>
            </div>
        </section>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>